
.voronoiBackground
{
    position: absolute;
    width:100%;
    height:calc(100vh - 52px);
    overflow-x: hidden;
    pointer-events: none;
    
}

.voronoiForeground
{
    position: absolute;
    top: 56px;
    left: 50%;
    z-index: 50;
}