
.voronoiBackground
{
    position: absolute;
    width:100%;
    height:calc(100vh - 56px);
    z-index: -3;
    overflow-x: hidden;
    
}

.voronoiForeground
{
    position: absolute;
    top: 56px;
    left: 50%;
    z-index: 50;
}