header 
{
    height:70px;
    background-color: black;
    z-index: 100;
    box-shadow:0px 2px 20px rgba(0, 0, 0, 0.495); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;

}

li a {
    display: block;
    padding: 30px 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(216, 216, 216);
}

li a:hover{
    color:white;
}

Link {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

Link:hover{
    color:white;
}

.logoText
{
    color:white;
    left: 15px;
    cursor:pointer;
    position: absolute;
}