
h1.pageBadge
{
    font-size: 300%;
    font-weight: bold;
}

.pageContent
{
    position: absolute;
    z-index: 20;
    // max-width: 650px;
    margin-left: auto;  
    margin-right: auto; 
    padding-left: 50px;
    padding-right: 50px;
    left: 0; 
    right: 0; 

    text-align: justify;
    text-justify: inter-word;

    pointer-events: all;
    height: calc(100vh - 56px);
    overflow-y:scroll;

    
}


.pageBadge {
    /* background-color: rgba(255, 255, 255, 0.6); */
    padding:5px 25px;
    // color:white;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    display:block;
    text-align: center;
    pointer-events: none;
}

a 
{
    color:white;
}