.svgVoronoi 
{
    height:calc(100vh - 56px);
    // height:100vh;
    min-height: 750px;
    height:100%;
    position:absolute;
    left:50%;
    // transform:translateX(-50%);
    transform:translate(-50%, -50%);
    top:50%;
    overflow:visible;
    // pointer-events: all;
}

.polygon 
{
    stroke-width:0.75;
    stroke:rgb(0, 0, 0);
}


.backgroundImage 
{
    fill-opacity: 0.8;
}

.backgroundImage:hover
{
    fill-opacity: 1;
    transition: fill-opacity 100ms ease-in-out 
}

