@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-ExtraLight.ttf");
}

.svgVoronoi 
{
    //height:calc(100vh - 56px);
    // height:100vh;
    // min-height: 750px;
    height:100%;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    overflow:visible;
    pointer-events: none;
}


.voronoiBackground
{
    position: fixed;
    width:100%;
    height:calc(100vh - 56px);
    // height:100vh;
    overflow-x: hidden;
    pointer-events: none;
}

html *
{
    font-family: "Poppins", "Lucida Console", "Arial";
}

body { margin:0; }

.page
{
    width: 100%;
    height: calc(100vh - 56px);
    position:absolute;
    overflow-x: hidden;
}

.buttonBase
{
    background-color: rgb(26, 26, 26);
    color:white;
    border:0px;
    text-decoration: none;
}

.buttonBase:active
{
    background-color: black;
}

.basicLink
{
    color: inherit;
}

.roundRightSide
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.roundLeftSide
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

html {
    background-color:rgb(33,37,41);
}