
// $color: green;

.buttonBase
{
    background-color: rgb(26, 26, 26);
    color:white;
    border:0px;
    text-decoration: none;
}

.buttonBase:active
{
    background-color: black;
}

.basicLink
{
    color: black;
}

.roundRightSide
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.roundLeftSide
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

html {
    background-color: black;
}